<app-header></app-header> 

<h1 class="p-2  bg-secondary text-white">Add Organization</h1>

<div id="add">
<div id="form" style="padding: 3%;position:absolute;" class="border border-dark rounded-lg">
  <h2 class="p-2 mb-2  text-dark">Enter Organization details</h2>

  <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
<form [formGroup]="addForm" (ngSubmit)="save()" class="form-group">
  
    <input type="text" class="form-control" aria-label="Name" formControlName="name" aria-describedby="basic-addon1" placeholder="Organization Name" /><br>
    <input type="text" class="form-control" aria-label="Alias" formControlName="alias" aria-describedby="basic-addon1" placeholder="Alias Name"  /><br>
    <input type="text" class="form-control" aria-label="University" formControlName="university" aria-describedby="basic-addon1" placeholder="University"  /><br>
   &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="submit"  class="btn btn-dark text-white">Save</button> &nbsp;&nbsp;&nbsp;&nbsp;
<button type="reset" class="btn btn-dark text-white">Reset</button>




</form>
</div>
</div>

<router-outlet></router-outlet>