<app-sidebar></app-sidebar>
<div class="main">
    <h1 class="p-3 mb-2 bg-dark text-white"> {{inst_name}} Students </h1>
    <button [routerLink]="['/addStudent',inst_id,inst_name]" class="p-2 mb-2 btn-dark btn-btn-lg" style="float: right;">Add Students</button><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>Registration No</th>
               <th>FirstName</th>
               <th>LastName</th>
               <th>Year</th>
               <th>DateOfBirth</th>
               <th>Email</th>
               <th>Mobile</th>
               <th>CreatedOn</th>
               <th>ModifiedOn</th>
               <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students;let i=index">
                <td>{{i+1}}</td>
                <td>{{student.redgno}}</td>
                <td>{{student.fname}}</td>
                <td>{{student.lname}}</td>
                <td>{{student.year}}</td>
                <td>{{student.dob}}</td>
                <td>{{student.email}}</td>
                <td>{{student.mobileno}}</td>
                <td>{{student.createdon |date:'medium'}}</td>
                <td>{{student.modifiedon |date:'medium'}}</td>
                <td><i [routerLink]="['/editStudent',student.id,student.org.id]" class="pi pi-user-edit" style="font-size: 2em"></i> 
                    &nbsp;&nbsp;<i  (click)="delete(student.id)" class="pi pi-trash" style="font-size: 2em"></i></td>

            </tr>
        </tbody>

    </table>

</div>
