  <app-header></app-header>  
  <div class="main">
<h1 class="p-2 mb-2 bg-dark text-white">Edit Faculty Details</h1>
<p-tabView>
   <p-tabPanel header="Personal Details">
     
      <form [formGroup]="editform" >

         <label>FirstName</label>&nbsp;<input type="text" formControlName="first_name"> <br><br>
         <label>LastName</label>&nbsp;<input type="text" formControlName="last_name" /><br><br>
         <label>DateOfBirth</label>&nbsp;<input type="date" formControlName="dob" /><br><br>
         <label>EmployeeId</label>&nbsp;<input type="text" formControlName="employee_id"><br><br>
         <label>Email</label>&nbsp;<input type="email" formControlName="email" /><br><br>
         <label>MobileNo</label>&nbsp;<input type="tel" formControlName="mobile_no" /><br><br>
        
         
        


         <!-- [routerLink]="['/faculty',this.id,this.name]" -->

      </form>
      
   </p-tabPanel>
      
   
   <p-tabPanel header="Organization" id="o">
     <form [formGroup]="editform" (ngSubmit)="update()">
     <label>Organization </label>&nbsp;&nbsp;<select (change)="organization($event.target.value)"
         class="btn btn-dark dropdown-toggle border border-dark text-white" formControlName="institution_id">
         <option value="" disabled></option>
         <option *ngFor="let org of orgObj;" [value]="org.id">{{this.org.name}}</option>


      </select><br><br>
      <label>Role </label>&nbsp;&nbsp;
      <select (change)="role($event.target.value)"
      class="btn btn-dark dropdown-toggle border border-dark text-white" formControlName="role_id">
      <option value="" disabled></option>
      <option *ngFor="let role of roles;" [value]="role.id">{{this.role.name}}</option>
   </select><br><br>
      <button type="submit" class="btn btn-dark">Save</button>
   </form>
   </p-tabPanel>
</p-tabView>

</div>
