<app-header></app-header> 
<div class="main">
    <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>

    <h1 class="p-3 mb-2 bg-dark text-white"> {{inst_name}} Students </h1>


    <label>Show by Year </label>&nbsp;&nbsp;<select (change)="year($event.target.value)"
    class="btn btn-dark dropdown-toggle border border-dark text-white" >
    
    <option *ngFor="let y of years;" [value]="y.value">{{this.y.label}}</option>
 </select><br><br>

    <button [routerLink]="['/addStudent',inst_id,inst_name]" class="p-2 mb-2 btn-dark btn-btn-lg" style="float: right;">Add Students</button><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>Registration No</th>
               <th>Name</th>
              
               <th>Year</th>
               
               <th>Email</th>
               <th>Mobile</th>
              
               <th>Action</th>
            </tr>
        </thead>
        
            <tr *ngIf=!flag >No Data</tr>
         <tbody *ngIf=flag >
            <tr *ngFor="let student of students;let i=index">
                <td>{{i+1}}</td>
                <td>{{student.redgno}}</td>
                <td><a [routerLink]="['/studentDetails',student.id]" style="color: black;">{{student.fname }} {{student.lname}}<i class="pi pi-info-circle" style="font-size: 1em"></i></a></td>
                
                <td>{{student.year}}</td>
                
                <td>{{student.email}}</td>
                <td>{{student.mobileno}}</td>
                
                <td><i [routerLink]="['/editStudent',student.id,student.org.id]" class="pi pi-user-edit" style="font-size: 2em"></i> 
                    &nbsp;&nbsp;<i  (click)="delete(student.id)" class="pi pi-trash" style="font-size: 2em"></i></td>
                    <p-toast position="center" key="c" (onClose)="onReject()"  [baseZIndex]="5000">
                        <ng-template let-message pTemplate="message">
                            <div style="text-align: center">
                                <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                                <h3>{{message.summary}}</h3>
                                <p>{{message.detail}}</p>
                            </div>
                            <div class="ui-g ui-fluid">
                                <div class="ui-g-6">
                                    <button type="button" pButton (click)="onConfirm(student.id)" label="Yes" class="ui-button-success"></button>
                                </div>
                                <div class="ui-g-6">
                                    <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
                                </div>
                            </div>
                        </ng-template>
                    </p-toast>
            </tr>
        </tbody>

    </table>

</div>
