div{
    align-content:center;
}
input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
#login{
    margin-left: 30%;
    margin-top: 10px;
    
}
  