
<h1 class="p-2  bg-primary text-white">Edit Organization Details</h1>

<div id="form" style="padding: 3%;position:absolute;" class="border border-primary rounded">
<form [formGroup]="editForm" (ngSubmit)="update()">
    <label>Name</label>&nbsp; <input type="text" formControlName="name" disabled><br>
    <label>Alias Name</label>&nbsp;<input type="text" formControlName="alias"  /><br>
    <label>University</label>&nbsp;<br><br><input type="text" formControlName="university"/><br>
   
  
<button type="submit">Update</button><button type="button" (click)="load()" >Reset</button>


<!--  <label>CreatedOn</label>&nbsp;<input type="date" formControlName="createdOn" /><br><br><br><select formControllName="type"> <option value="Academic">Academic</option><option value="Corporate">Corporate</option></select>-->
</form>
</div>
<router-outlet></router-outlet>