<app-sidebar></app-sidebar> 

<div class="main">
<h1 class="p-2 mb-2 bg-dark text-white">Add Faculty Details</h1>

<div id="form" style="padding: 3%;position:absolute;" class="border border-dark rounded">
<form [formGroup]="facultyform" (ngSubmit)="save()">

<label>FirstName</label>&nbsp;<input type="text" formControlName="first_name"> <br><br>
<label>LastName</label>&nbsp;<input type="text" formControlName="last_name" /><br><br>
<label>DateOfBirth</label>&nbsp;<input type="date" formControlName="dob" /><br><br>

<label>Email</label>&nbsp;<input type="email" formControlName="email" /><br><br>
<label>MobileNo</label>&nbsp;<input type="tel" formControlName="mobile_no" /><br><br>
<label>Role_Id</label>&nbsp;&nbsp;<select (change)="role($event.target.value)" class="btn btn-dark dropdown-toggle border border-dark text-white">
         <option value="" disabled selected>Select</option>
            <option *ngFor="let role of Roles;" [value]="role">{{this.role}}</option>
           </select><br><br>
<button type="submit" class="btn btn-dark">Save</button>


</form>

</div>
</div>
