<p>add works!</p>
<h1>Add Form</h1>
<form [formGroup]="addForm" (ngSubmit)="save()">
    <label>Name</label>&nbsp; <input type="text" formControlName="name" /><br><br>
    <label>Alias</label>&nbsp;<input type="text" formControlName="alias"/><br><br>
    <label>Type</label>&nbsp;<input type="text" formControlName="type" /><br><br>
    <label>User Verification</label><input type="checkbox" formControlName="isUserVerification"><br>

    <label>SignUp Page Requirred</label><input type="checkbox" formControlName="isSignup">
  <!--  <label>CreatedOn</label>&nbsp;<input type="date" formControlName="createdOn" /><br><br><br> --><br><br>
<button type="submit">Save</button>



<!--<select formControllName="type"> <option value="Academic">Academic</option><option value="Corporate">Corporate</option></select>-->
</form>
<router-outlet></router-outlet>