

<h1 class="p-2  bg-primary text-white">Add Organization</h1>


<div id="form" style="padding: 3%;position:absolute;" class="border border-primary rounded">
  <h1 class="p-2 mb-2 bg-primary text-white">Enter Organization details</h1>


<form [formGroup]="addForm" (ngSubmit)="save()" class="form-group">
  
    <label><h3>Name</h3></label> <input type="text" formControlName="name" />
    <label><h3>Alias</h3></label><input type="text" formControlName="alias"/><br>
    <label><h3>University</h3></label><input type="text" formControlName="university" /><br>
   
<button type="submit" class="btn btn-primary">Save</button>




</form>
</div>

<router-outlet></router-outlet>