<app-header></app-header> 

<div class="main">
    <h1 class="p-3 mb-2 bg-dark text-white">Students Details</h1>
    <table class="table table-stripped" style="text-align: center;border:2">
        <tr>
        <th>Name</th>
        <td>{{student?.fname}}&nbsp;{{ student?.lname}}</td></tr>
        <tr>
        <th>Registration Number</th>
        <td>{{student?.redgno}}</td></tr>
        <tr><th>Date Of Birth</th><td>{{student?.dob}}</td></tr>
        <tr> <th>Organization Name</th><td>{{student?.org?.name}}</td></tr>
        <tr><th>University</th><td>{{student?.org?.university}}</td></tr>
        
        <tr><th>Year</th><td>{{student?.year}}</td></tr>
        <tr><th>Mobile</th><td>{{student?.mobileno}}</td></tr>
        <tr><th>Email</th><td>{{student?.email}}</td></tr>
      <!--  <tr><th>Created On</th><td>{{student.createdon}}</td></tr>
         <tr><th>Modified On</th><td>{{student?.modifiedon}}</td></tr>  -->
       
    </table>
</div>