
<button type="text" (click)="sidebar = true"  label="Show" class="btn btn-dark"><i class="pi  pi-align-justify " style="font-size: 2em;"></i></button>&nbsp;
<button  class=" btn btn-dark" [routerLink]="['/home'] "><i class="pi  pi-home" style="font-size: 2em"></i></button>
<p-sidebar [(visible)]="sidebar" position="left" [style]="{width:'20em'}">
       
    <aside> <button  class="p-3 mb-2 bg-dark text-white btn-block" [routerLink]="['/faculty'] ">Employees</button></aside> 
    <aside> <button  class="p-3 mb-2 bg-dark text-white btn-block" [routerLink]="['/roles'] ">Roles</button></aside> 
   

</p-sidebar>
