<app-sidebar></app-sidebar>
<div class="main">
    <h1 class="p-3 mb-2 bg-dark text-white">Students</h1>

    <label>Show by Year </label>&nbsp;&nbsp;<select (change)="year($event.target.value)"
    class="btn btn-dark dropdown-toggle border border-dark text-white" >
    
    <option *ngFor="let y of years;" [value]="y.value">{{this.y.label}}</option>
 </select><br><br>

    <button routerLink="/addstudent" class="p-2 mb-2 btn-dark btn-btn-lg" style="float: right;">Add Student</button>
    <table class="table table-striped" border="2">
        <thead>
            <tr>
                <th>No</th>
                <th>Registration No</th>
               <th>FirstName</th>
               <th>LastName</th>
               <th>Year</th>
               <th>Institution</th>
              
               <th>CreatedOn</th>
               <th>ModifiedOn</th>
               <th>Action</th>
            </tr>
          </thead> 
          <tr *ngIf=!flag >No Data</tr>
          <tbody *ngIf=flag >
            <tr *ngFor="let student of students;let i=index">
                <td>{{i+1}}</td>
                <td>{{student.redgno}}</td>
                <td><a [routerLink]="['/studentDetails',student.id]">{{student.fname}}</a></td>
                <td>{{student.lname}}</td>
                <td>{{student.year}}</td>
                <td>{{student.org.name}}</td>
               
                <td>{{student.createdon |date:'medium'}}</td>
                <td>{{student.modifiedon |date:'medium'}}</td>
                <td><i [routerLink]="['/editStudent',student.id,student.org.id]" class="pi pi-user-edit" style="font-size: 2em"></i> 
                    &nbsp;&nbsp;<i  (click)="delete(student.id)" class="pi pi-trash" style="font-size: 2em"></i></td>

            </tr>
        </tbody>       
    </table>
</div>
