<app-header></app-header> 
<div class="main">
    <h1 class="p-3 mb-2 bg-dark text-white">Students</h1>
    <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>


    <label>Show by Year </label>&nbsp;&nbsp;<select (change)="year($event.target.value)"
    class="btn btn-dark dropdown-toggle border border-dark text-white" >
    
    <option *ngFor="let y of years;" [value]="y.value">{{this.y.label}}</option>
 </select><br><br>

    <table class="table table-striped" border="2">
        <thead>
            <tr>
                <th>No</th>
                <th>Registration No</th>
               <th>FirstName</th>
               <th>LastName</th>
               <th>Year</th>
               <th>Institution</th>                   
               <th>Action</th>
            </tr>
          </thead> 
          <tr *ngIf=!flag >No Data</tr>
          <tbody *ngIf=flag >
            <tr *ngFor="let student of students;let i=index">
                <td>{{i+1}}</td>
                <td>{{student?.redgno}}</td>
                <td><a [routerLink]="['/studentDetails',student.id]">{{student.fname}}</a></td>
                <td>{{student?.lname}}</td>
                <td>{{student?.year}}</td>
                <td>{{student?.org.name}}</td>               
            
                <td><i [routerLink]="['/editStudent',student.id,student.org.id]" class="pi pi-user-edit" style="font-size: 2em"></i> 
                    &nbsp;&nbsp;<i  (click)="delete(student.id)" class="pi pi-trash" style="font-size: 2em"></i></td>
                    <p-toast position="center" key="c" (onClose)="onReject()"  [baseZIndex]="5000">
                        <ng-template let-message pTemplate="message">
                            <div style="text-align: center">
                                <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                                <h3>{{message.summary}}</h3>
                                <p>{{message.detail}}</p>
                            </div>
                            <div class="ui-g ui-fluid">
                                <div class="ui-g-6">
                                    <button type="button" pButton (click)="onConfirm(student.id)" label="Yes" class="ui-button-success"></button>
                                </div>
                                <div class="ui-g-6">
                                    <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
                                </div>
                            </div>
                        </ng-template>
                    </p-toast>
            </tr>
        </tbody>       
    </table>
</div>
