<app-sidebar></app-sidebar>
<div class="main">

   <div *ngIf=flag>
      <h1 class="p-3 mb-2 bg-dark text-white">Organization Details</h1>
       <table border="2" class="table table-striped"> 

         <tbody class="align-middle">

            <tr>
               <th>Name</th>
               <td>{{org.name}}</td>
            </tr>
            <tr>
               <th>Alias</th>
               <td>{{org.alias}} </td>
            </tr>
            <tr>
               <th>Type</th>
               <td>{{org.university}} </td>
            </tr>
            <tr>
               <th>Createdon</th>
               <td>{{org.createdon | date:'medium'}}</td>
            </tr>
            <tr>
               <th>ModifiedOn</th>
               <td>{{org.modifiedon | date:'medium'}}</td>
            </tr>
            <tr>
               <th>Status</th>
               <td>{{org.isActive | status}}</td>
            </tr>
         </tbody>


      </table>
   </div>
</div>
<router-outlet></router-outlet>