<app-header></app-header>
<div class="container-fluid">



    <!-- <h1 class="p-4 mb-3 bg-dark text-white"> </h1> -->
    <div class="main">

       <!--  <h1 class="p-3 mb-2 bg-info text-white"> Organizations</h1> -->
          
        <nav class="navbar navbar-light bg-info justify-content-between">
            <a class="navbar-brand text-white">Organizations</a>
            <form class="form-inline">
                <input type="text" class="form-control" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2">
                    
               </form>
          </nav>
          <br>

          <button pButton type="button" label="Add Organization" class="ui-button-rounded ui-button-success"
          style="float: right;" routerLink="/add" icon="pi pi-plus-circle"></button>   <br>
          
        <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>

        <table class="table table-striped table-borderless bg-transparent ">
            <thead>
                <tr>
                    
                    <th scope="col">Name</th>
                    <th scope="col">Alias</th>
                    <th scope="col">University</th>
                    <th scope="col">Status</th>
                    <th scope="col">Employees</th>
                    <th scope="col">Students</th>
                    <th scope="col">Action</th>
                </tr>

            </thead>
            <tr *ngIf=!flag style="width: 100%;">No Data</tr>


            <tbody *ngIf=flag class="align-middle">

                <tr *ngFor="let org of this.org |filter:searchText | paginate:{itemsPerPage:5,currentPage:page};let i=index; let isOdd=odd;let isLast=last ">
                   
                    <td><a [routerLink]="['/details',org.id]" style="color: black;">{{org.name}}<i
                                class="pi pi-info-circle" style="font-size: 1em"></i></a> </td>
                    <td>{{org.alias}} </td>
                    <td>{{org.university}} </td>

                    <td><button type="button" (click)=changeStatus(org.id)
                            [ngClass]="org.isActive?'btn btn-success':'btn btn-danger'">{{org.isActive | status}}</button>
                    </td>
                    <!-- <td>{{org.isActive |status}}</td>class='btn btn-success'  -->



                    <td>
                        <i [routerLink]="['/faculty',org.id,org.name]" class="pi pi-user" style="font-size: 2em "> </i>

                    </td>

                    <td>
                        <i [routerLink]="['/students',org.id,org.name]" class="pi pi-users" style="font-size: 2em "></i>
                    </td>
                    <td>
                        <i [routerLink]="['/edit',org.id]" class="pi pi-pencil" style="font-size: 2em "></i>
                        &nbsp;<i (click)="delete(org.id)" class="pi pi-trash" style="font-size: 2em"></i>&nbsp;
                    </td>


                    <p-toast position="center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
                        <ng-template let-message pTemplate="message">
                            <div style="text-align: center">
                                <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                                <h3>{{message.summary}}</h3>
                                <p>{{message.detail}}</p>
                            </div>
                            <div class="ui-g ui-fluid">
                                <div class="ui-g-6">
                                    <button type="button" pButton (click)="onConfirm(org.id)" label="Yes"
                                        class="ui-button-success"></button>
                                </div>
                                <div class="ui-g-6">
                                    <button type="button" pButton (click)="onReject()" label="No"
                                        class="ui-button-secondary"></button>
                                </div>
                            </div>
                        </ng-template>
                    </p-toast>
                </tr>
            </tbody>
            <pagination-controls *ngIf=flag (pageChange)="page = $event"></pagination-controls>
        </table>
        
    </div>


</div>
<router-outlet></router-outlet>