<h1>Organizations</h1>

<a routerLink="add">Add organization</a>
<br>
<table  border="2">

    <tr>
        <th>No</th>
        <th>Name</th>
        <th>Alias</th>
        <th>Type</th>
        <th>UserVerification</th>
        <th>SignupRequired </th>
        <th>Createdon</th>
        <th>ModifiedOn</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    <tbody   *ngFor="let org of this.org;let i=index; let isOdd=odd;let isLast=last," >
 <tr >     
<td>{{i+1}}</td>
<td>{{org.name}} </td> 
<td>{{org.alias}} </td>
<td>{{org.type}} </td>
<td>{{org.isUserVerification | yesNo}}</td>
<td>{{org.isSignup | yesNo}}</td>
<td>{{org.createdon | date:'medium'}}</td>
<td>{{org.modifiedon| date:'medium'}}</td>
<td>{{org.isActive |status}}</td>

<td>
    <a [routerLink]="['edit',org.id]"> Edit</a> &nbsp;| &nbsp;<a (click)="delete(org.id)">Delete</a>&nbsp;|&nbsp;<a [routerLink]="['/details',org.id]">Details</a></td>
</tr>
</tbody>
</table>

<router-outlet></router-outlet>