<h1>Organization Details</h1>
<table  border="2">

    <tr>
       
        <th>Name</th>
        <th>Alias</th>
        <th>Type</th>
        <th>UserVerification</th>
        <th>SignupRequired </th>
        <th>Createdon</th>
        <th>ModifiedOn</th>
        <th>Status</th>
    </tr>
   <tr>
       <td>{{org.name}}</td>
       <td>{{org.alias}} </td>
        <td>{{org.type}} </td>
        <td>{{org.isUserVerification | yesNo}}</td>
        <td>{{org.isSignup | yesNo}}</td>
        <td>{{org.createdon | date:'medium'}}</td>
        <td>{{org.modifiedon | date:'medium'}}</td>
        <td>{{org.isActive | status}}</td>
   </tr>

   </table>
   <router-outlet></router-outlet>